<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    
    <!-- FILTROS -->
    <description>Sistema de Acompanhamento de Viagens</description>
    <display-name>sav</display-name>

    <filter>
        <filter-name>LoginFiltro</filter-name>
        <filter-class>br.org.flem.fw.web.filtro.LoginFiltro</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFiltro</filter-name>
        <url-pattern>/luptaf</url-pattern>
        <url-pattern>/logout</url-pattern>
        <url-pattern>*.do</url-pattern>
        <url-pattern>*.jsp</url-pattern>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>


    <filter>
        <filter-name>FechaSessao</filter-name>
        <filter-class>br.org.flem.fwe.web.filtro.FechaSessao</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FechaSessao</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <filter>
        <filter-name>ResponseOverrideFilter</filter-name>
        <filter-class>org.displaytag.filter.ResponseOverrideFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ResponseOverrideFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ResponseOverrideFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    
    
    
    
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>applicationresource</param-value>
    </context-param>





    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <description>DWR controller servlet</description>
        <servlet-name>DWR controller servlet</servlet-name>
        <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
        <init-param>
            <param-name>classes</param-name>
            <param-value>
                br.org.flem.sav.dwr.Funcoes,
                br.org.flem.fw.service.CentroResponsabilidade,
                br.org.flem.sav.negocio.util.Estado,
                br.org.flem.sav.dto.RecebimentoViagemDTO
            </param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>scriptCompressed</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>scriptCompressed</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>crossDomainSessionSecurity</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>DWR controller servlet</servlet-name>
        <url-pattern>/dwr/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>360</session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    <error-page>
        <exception-type>jcifs.smb.SmbException</exception-type>
        <location>/jcifis.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/erro.jsp</location>
    </error-page>
    
</web-app>
